html {
    background-image: linear-gradient( 10deg, rgba(126, 158, 58, 0.8), rgba(58, 158, 158, 0.7)), url(https://raw.githubusercontent.com/badobacs/Project-Repo/master/Portfolio/KEP_00991.jpg);
    margin: 0;
    top: 0;
}

nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.navbar-brand {
    font-family: 'Oleo Script Swash Caps', cursive;
    color: white;
    text-align: center;
    padding-left: 50px;
}